<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="mod" method="post">
    <!--<input type="text" name="idPersonaje" placeholder="id personaje"></br>--->
    <input type="text" name="nombre" placeholder="nombre"></br></br>
    <input type="text" name="imagen" placeholder="url de la imagen"></br></br>
    <input type="text" name="idSerie" placeholder="id serie">
    <button type="submit" name="modify">OK</button>
</form>
</body>
</html>